<div class='container'>

    <div *ngIf="porukaZaKorisnika">
        {{porukaZaKorisnika}}
    </div>

<form [formGroup]='transakcija' (ngSubmit)="onSubmit(transakcija)">

    <mat-form-field>   
     <input matInput placeholder="Unesite detalje transakcije" type="text" formControlName="detaljiTransakcije">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Unesite kategoriju transakcije" type="text" formControlName="kategorija">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Unesite iznos transakcije" type="number" formControlName="iznos">
      </mat-form-field> 
    
     <button type= "Submit"> Unesi transakciju </button>
    


</form>

</div>